<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tvättider</title>
	<link rel="icon" href="https://www.clipartkey.com/mpngs/m/169-1690996_laundry-icon-png-blue.png" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<div class="container mb-4" >


					<h2>Vattentvätt</h2>
					<div class="container">
						<img src="https://www.butiksdatabasen.se/images/tvaett_60_normal.gif" alt="Normal tvätt" width="43" height="43" align="left">
						<h3>Maskintvätt</h3>
						<p>Normal maskintvätt eller handtvätt som tvättas i det angivna gradtalet.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_30_milt.gif" alt="Halvfylld maskin och kort centrifugering" width="43" height="43" align="left">
						<h3>Maskintvätt</h3>
						<p>Halvfylld maskin och kort centrifugering som tvättas i det angivna gradtalet.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvatt_prick_normal.gif" alt="Normal tvätt låg temp" width="43" height="43" align="left">
						<h3>Maskintvätt</h3>
						<p>Normal maskintvätt eller handtvätt som tvättas i gradtalet som pricken/prickarna motsvarar.<br>• = 30°, •• = 40°, ••• = 50°, •••• = 60°, ••••• = 70° och •••••• = 95°</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvatt_prick_normal_strykfritt.gif" alt="Halvfylld maskin och kort centrifugering" width="43" height="43" align="left">
						<h3>Maskintvätt</h3>
						<p>Halvfylld maskin och kort centrifugering som tvättas i gradtalet som pricken/prickarna motsvarar.<br>• = 30°, •• = 40°, ••• = 50°, •••• = 60°, ••••• = 70° och •••••• = 95°</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_handtvaett.gif" alt="Handtvätt" width="43" height="43" align="left">
						<h3>Handtvätt</h3><p>Endast handtvätt i max 40 grader. Kort centrifugering och kort tvättid.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_ej_vattentvaett.gif" alt="Ej vattentvätt" width="43" height="43" align="left">
						<h3>Ej vattentvätt</h3>
						<p>Tål ej vattentvätt.</p>
					</div>

					<h2>Torkning</h2>
					<div class="container">
						<img src="https://www.butiksdatabasen.se/images/tvaett_torktumla.gif" alt="Tål torktumling" width="43" height="43" align="left">
						<h3>Tål torktumling</h3><p>Kan torktumlas.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvatt_tumla_ingen_varme.gif" alt="Tål torktumling utan värme" width="43" height="43" align="left">
						<h3>Tål torktumling utan värme</h3>
						<p>Bör endast torktumlas utan värme.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_tumla_laag.gif" alt="Tål torktumling vid låg temperatur" width="43" height="43" align="left">
						<h3>Tål torktumling vid låg temperatur</h3>
						<p>Bör endast torktumlas i låg temperatur.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_tumla_normal.gif" alt="Tål torktumling vid normal temperatur" width="43" height="43" align="left">
						<h3>Tål torktumling vid normal temperatur</h3>
						<p>Bör endast torktumlas i normal temperatur.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_ej_tumla.gif" alt="Tål ej torktumling" width="43" height="43" align="left">
						<h3>Tål ej torktumling</h3>
						<p>Bör ej torktumlas.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_haengtorkning.gif" alt="Hängtorkning" width="43" height="43" align="left">
						<h3>Hängtorkning</h3>
						<p>Hängs upp till tork.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_dropptorkning.gif" alt="Dropptorkning" width="43" height="43" align="left">
						<h3>Dropptorkning</h3>
						<p>Hängs upp till tork direkt efter tvätt.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_plantorkning.gif" alt="Plantorkning" width="43" height="43" align="left">
						<h3>Plantorkning</h3>
						<p>Läggs plant för att torka.</p>
					</div>

					<h2>Kemtvätt</h2>
					<div class="container">
						<img src="https://www.butiksdatabasen.se/images/tvaett_kemtvaett_a.gif" alt="Kemtvätt A" width="43" height="43" align="left">
						<h3>Kemtvätt</h3>
						<p>Tål alla kemtvättvätskor.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_kemtvaett_f.gif" alt="Kemtvätt F" width="43" height="43" align="left">
						<h3>Kemtvätt</h3>
						<p>Tål inga starkare medel än
							tvättnafta eller flourväte. Detta är numera förbjudet,
							dock finns det fortfarande kvar plagg med denna märkning.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_kemtvaett_p.gif" alt="Kemtvätt P" width="43" height="43" align="left">
						<h3>Kemtvätt</h3>
						<p>Tål inga vätskor starkare än perkloretylen.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_kemtvaett_ps.gif" alt="Kemtvätt streck" width="43" height="43" align="left">
						<h3>Kemtvätt</h3>
						<p>Kemtvätt med begränsningar
							gällande vattentillsättning, bearbetning och torktemperatur.
							Detta gäller alla tvättsymboler ovan men med en streck under
							cirkeln.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_ej_kemtvaett.gif" alt="Ej kemtvätt" width="43" height="43" align="left">
						<h3>Ej kemtvätt</h3>
						<p>Tål ej kemtvätt.</p>
					</div>

					<h2>Blekning</h2>
					<div class="container">
						<img src="https://www.butiksdatabasen.se/images/tvaett_blekmedel.gif" alt="Blekmedel kan användas" width="43" height="43" align="left">
						<h3>Blekmedel kan användas</h3>
						<p>Alla typer av blekmedel kan vid behov användas.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvatt_blekmedel_ej_klorin.gif" alt="Blekmedel som inte innehåller klorin kan användas" width="43" height="43" align="left">
						<h3>Blekmedel som inte innehåller klorin kan användas</h3>
						<p>Endast blekmedel som inte innehåller klorin kan vid behov användas.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_ej_blekmedel.gif" alt="Tål ej blekmedel" width="43" height="43" align="left"> <img src="https://www.butiksdatabasen.se/images/tvatt_ej_blekmedel.gif" alt="Tål ej blekmedel" width="43" height="43" align="left">
						<h3>Tål ej blekmedel</h3>
						<p>Blekmedel får ej användas.</p>
					</div>

					<h2>Strykning</h2>
					<div class="container">
						<img src="https://www.butiksdatabasen.se/images/tvaett_strykning_laag.gif" alt="Strykning låg temperatur" width="43" height="43" align="left">
						<h3>Strykning, låg temperatur</h3>
						<p>Strykning behövs, högsta temperatur är 110°.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_strykning_mellan.gif" alt="Strykning mellantemperatur" width="43" height="43" align="left">
						<h3>Strykning, mellantemperatur</h3>
						<p>Strykning behövs, högsta temperatur är 150°.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_strykning_hoeg.gif" alt="Strykning hög temperatur" width="43" height="43" align="left">
						<h3>Strykning, hög temperatur</h3>
						<p>Strykning behövs, högsta temperatur är 200°.</p>
						<div class="divider"></div>
						<img src="https://www.butiksdatabasen.se/images/tvaett_ej_strykning.gif" alt="Tål ej strykning" width="43" height="43" align="left">
						<h3>Tål ej strykning</h3>
						<p>Tål ej strykning eller mangling.</p>
					</div>

				</div>